.title {
	text-align: center;
	padding-top: 25vw; /* Practically all measurements here are done with relative units, for maximum responsiveness*/
	padding-bottom: 25vw;
}

.title p {
	font-size: 1.3em;
	font-style: italic;
	padding-top: 1em;
}

.messenger {
	background-color: lightgrey;
}

.user-name {
	color: lightblue; /* Simple, clear colours */
	margin: 0;
	font-size: 1.4em;
}

.other-name {
	color: red;
	margin: 0;
	font-size: 1.4em;
}

.message {
	color: white;
	margin: 0.5em;
	font-size: 1.3em;
}

.chat { /* Since the two people's chat boxes have only a few style differences, I made a common class to contain everything that's the same */
	width: max-content; /* Make chat box size scale with the text within, up to a certain point */
	max-width: 25%;
	background-color: darkblue;
	padding: 1em;
	margin-bottom: 2%;
	border-radius: 25px;
}

.user-chat { /* And then applied the individual classes which determine which side the messages are on */
	margin-right: auto;
	margin-left: 25%;
}

.other-chat {
	background-color: darkred;
	margin-left: auto;
	margin-right: 25%;
}

@media (max-width:600px) { /* Push the chat boxes further out on small screens, looks way better */
	.user-chat {
		margin-left: 5%;
		max-width: 40%;
	}

	.other-chat {
		margin-right: 5%;
		max-width: 40%;
	}
}
