.title {
	text-align: center;
	padding-top: 25vw;
	padding-bottom: 25vw;
}

.title p {
	font-size: 1.3em;
	font-style: italic;
	padding-top: 1em;
}

.messenger {
	background-color: lightgrey;
}

.user-name {
	color: blue;
	margin: 0;
	font-size: 1.4em;
}

.other-name {
	color: red;
	margin: 0;
	font-size: 1.4em;
}

.message {
	color: white;
	margin: 0.5em;
	font-size: 1.3em;
}

.chat {
	width: max-content;
	max-width: 25%;
	background-color: darkblue;
	padding: 1em;
	margin-bottom: 2%;
	border-radius: 25px;
}

.user-chat {
	margin-right: auto;
	margin-left: 25%;
}

.other-chat {
	background-color: darkred;
	margin-left: auto;
	margin-right: 25%;
}
