.content {
  visibility: hidden; /* Start with the main content hidden */
  text-align: center; /* Easier to just put it here, since (almost) everything is centered here */
}

.button {
  font-family: 'Lato', sans-serif; /* For some reason, the button text didn't change fonts when I added it to the body tag */
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; /* Specifies that the cursor changes when hovering over the button, to sign that it's clickable */
  background-color: #2d8cff;
  border-radius: 30%; /* Rounding the corners! */
}

.promo {
  font-size: 1.2em; /* I tried to use flexible sizes wherever possible */
}

.promo1 {
  visibility: visible;
}

.title {
  font-size: 1.2em;
  padding-top: 2em;
}

.tagline {
  font-size: 1.2em;
  font-style: italic;
}

.features {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex; /* Dabbling with CSS flexbox a little here to display my three feature boxes evenly side-by-side */
  flex-direction: row;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
}

.feature { /* Each feature box has a fixed size for a uniform look; the words wrap around automatically */
  width: 250px;
  height: 3em;
  margin: 1em 4em;
  background-color: #2d8cff; /* This is the exact Zoom blue - don't tell them ;) */
  color: white;
  padding: 0.5em;
  text-align: center;
}

.promise {
  line-height: 3em;
  font-size: 1em;
}

.reality {
  line-height: 1.5em;
  font-size: 1em;
  display: none;
}

/* The below two hovers are a simple way to achieve changing text: the "promise", which appears first, is hidden on hover, while the "reality" is un-hidden */
.feature:hover .promise {
  display: none;
}

.feature:hover .reality {
  display: inline;
}

.video {
  font-size: 1.2em;
}

video { /* Center the video */
  display: block;
  margin: 0 auto;
}

.download { /* I wanted to make the font here especially big for that good old bash-your-head-in advertisement feel */
  font-size: 2em;
}

.download p {
  margin: 0.5em;
  padding: 0;
}

.download a {
  color: #2d8cff;
}

.disclaimer { /* In stark contrast with the download prompt, the disclaimer is small and tucked away */
  display: block;
  margin: auto;
  padding-top: 3em;
  width: 854px; /* Same width as the video, for aesthetics */
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
}

.disclaimer p { /* This block, together with the one above, centers the div but keeps the text within left-aligned */
  display: inline-block;
  text-align: left;
}
