.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
	bottom: 0;
}

p {
  font-size: 18px;
}

.button {
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #2d8cff;
  border-radius: 30%;
}

.content {
  visibility: hidden;
  text-align: center; /* Easier to just put it here, since everything is centered */
}

.promo1 {
  visibility: visible;
}

.features {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
}

.feature {
  width: 250px;
  height: 3em;
  margin: 1em 4em;
  background-color: #2d8cff;
  color: white;
  padding: 0.5em;
  /*border-radius: 15%; */
  text-align: center;
}

.promise {
  line-height: 3em;
  font-size: 18px;
}

.reality {
  line-height: 1.5em;
  display: none;
}

.feature:hover .promise {
  display: none;
}

.feature:hover .reality {
  display: inline;
}

li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #111;
}

.navbar .active {
  background-color: #04AA6D;
}

.footer p {
  color: white;
  text-align: right;
  display: block;
  padding-right: 10px;
}

.vid-title {
  padding-top: 2em;
}

.vid-summary {
  font-style: italic;
}

.vid-details {
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}
